@import url(https://db.onlinewebfonts.com/c/40ee97dfced68264064a8ecdb5726ea8?family=Glosa+W01+Roman);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/10d0b50da141372ab1f5ae8af6193f9e?family=Glosa+W01+Black);

*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

nav{
    top: 0;
    width: 100%;
    position:fixed;
    z-index: 1030;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    border-bottom: 1px solid #E31837;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

nav ul li a{
    padding: 8px 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #344054;
    font-weight: 400;
    transition: all;
    transition-duration: 150ms;
}

nav div img{
    width: 40px;
    height: 40px;
}

nav ul li a:hover {
    color: #E31837;
    border-bottom: 2px solid #E31837;
}

.cover{
    margin-top: 77px;
    display: block;
    width: 100%;
    height: calc(100vh);
    background: linear-gradient(to bottom, #E31837 0%, #E31837 38%, #e21836dc 0%, #e21836dc 60%);
}

.cover-flex {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.shortIntro{
    grid-column: span 5 / span 5;
    margin: auto 0;
}

.img-intro{
    grid-column: span 7 / span 7;
}

 .coverP1 {
    font-family: "Glosa W01 Roman";
    font-size: 20px;
    color: white;
}

.coverP2{
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.751);
}

.shortIntro h1{
    color: rgba(255, 255, 255, 0.751);
    font-family: "Glosa W01 Black";
    font-size: 100px;
    line-height: 1.1;
}

#mahomes-covername{
    color: white;
    padding-bottom: 20px;
}

.coverPict{
    width: 685px;
    left: 80px;
    bottom: 0;
}

.btn{
    right: 250px; 
    bottom: 230px; 
    font-family: "Poppins", sans-serif;
    display: inline-block;
    padding: 14px 40px;
    background: white;
    border-radius: 15px;
    box-shadow: none;
    font-size: 16px;
    color: #E31837;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 0 0 1rem white;
}

.social-media{
    /* position: absolute; */
    right: 220px; 
    bottom: 100px;
    display: flex;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: .2rem solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    text-decoration: none;
}

.social-media a:hover {
    background: white;
    color: #E31837;
    box-shadow: 0 0 1rem white;
}

/* .about-me{
    margin-top: 350px;
    height: 93.3vh;
} */

.title-p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding: 30px 0;
    color: #E31837;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card{
    width: 1350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.card img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.card-content{
    padding: 16px;
    width: 50%;
}

#card-title-p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 10px 25px;
}

#card-content-p{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 18px;
    text-align: justify;
}

.btn-card{
    font-family: "Poppins", sans-serif;
    margin-left: 480px;
    padding: 10px 20px;
    background: #E31837;
    border-radius: 10px;
    box-shadow: none;
    font-size: 12px;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 400;
    transition: 0.5s ease;
    text-decoration: none;
}

.btn-card:hover{
    box-shadow: 0 0 1rem #E31837;
}


.achievement{
    margin-top: 850px;
    height: 93.3vh;
}